{
    "semi": false,
    "singleQuote": true,
    "printWidth": 160,
    "vueIndentScriptAndStyle": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 2,
    "bracketSpacing": true
}
